/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500&display=swap');

/* Body/Responsive */
body {
    display: flex;
    justify-content: center;
    background-image: url("./images/pattern-background-desktop.svg");
    background-repeat:repeat-x;
    background-color: hsl(225, 100%, 94%);
    font-family: 'Outfit', sans-serif;
}

p {
    font-size: 16px;
}

/* Main Container  */
#container {
    text-align: center;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1.4em;
    margin-top: 4em;
    box-shadow: 5px 10px 8px #888888      
}

#container p, div, button, a, h1 {
    margin: 25px;
    font-weight: 200;
}

#container h1 {
    font-weight: 600;
    margin-top: 30px;
}

#container img {
    border-top-left-radius: 1.4em;
    border-top-right-radius: 1.4em;
}

#container button {
    width: 80%;
    padding: 15px;
    border-radius: 1.7em;
    border: none;
    font-weight: 600;
    background-color: hsl(245, 75%, 52%);
    color: #fff;
    box-shadow: 5px 10px 8px #888888
}

/* Annual Plan Section */
#annual-plan {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: hsl(225, 100%, 98%);
    border-radius:1em;
    width: 75%;
    padding: 5px 14px 5px 14px;
}

#annual-plan img {
    transform: translateY(20px);
}

#annual-plan a {
    transform: translateY(8px);
}

/* Hover Effects */

#container button:hover {
    background-color: hsl(224, 23%, 55%);
    cursor: pointer;
}

#container a:hover {
    color: hsl(224, 23%, 55%);
    cursor: pointer;
}

/* Media Queries */
@media(max-width: 521px) {
    #container {
        width: 90%;
        font-size: 14px;
    }

    #container img {
        width: 100%
    }

    #annual-plan {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    #annual-plan img {
        width: 3em;
        height: 3em;
    }
}